body {
  font-family: Arial;
  background: #0f0f0f;
  color: white;
  text-align: center;
}

.container {
  margin-top: 80px;
}

button {
  padding: 15px;
  margin: 10px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}